.task-input-field {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #068282;

}

.signup-dialog {
    display: flex;
    width: 50%;
    border: solid;
    border-radius: 10%;
    border-width: thin;
    border-color: #339e66;
    background-color: white;
    justify-content: center;
    align-content: center;
    padding: 1%;
    flex-direction: column;
    position: absolute;
    margin: auto;
}

.signup-dialog .text-field-custom {
    margin: 2%;
    background-color: white;
}